In [52]:
import pickle#先导入老师课堂上说的我们需要的模块
import pandas as pd#如果没有就要install下载，或者pip install，或者conda install
import numpy

In [53]:
with open ('d:\codon_tuple.pickle','rb') as f:#打开读取文件
    data = pickle.load(f)
data#发现文件是一个列表

[('CTT', 'L', 'Leu'),
 ('ATG', 'M', 'Met'),
 ('ACA', 'T', 'Thr'),
 ('ACG', 'T', 'Thr'),
 ('ATC', 'I', 'Ile'),
 ('ATA', 'I', 'Ile'),
 ('AGG', 'R', 'Arg'),
 ('CCT', 'P', 'Pro'),
 ('AGC', 'S', 'Ser'),
 ('AGA', 'R', 'Arg'),
 ('ATT', 'I', 'Ile'),
 ('CTG', 'L', 'Leu'),
 ('CTA', 'L', 'Leu'),
 ('CTC', 'L', 'Leu'),
 ('CCG', 'P', 'Pro'),
 ('AGT', 'S', 'Ser'),
 ('CCA', 'P', 'Pro'),
 ('CCC', 'P', 'Pro'),
 ('TAT', 'Y', 'Tyr'),
 ('GGT', 'G', 'Gly'),
 ('CGA', 'R', 'Arg'),
 ('CGC', 'R', 'Arg'),
 ('CGG', 'R', 'Arg'),
 ('GGG', 'G', 'Gly'),
 ('GGA', 'G', 'Gly'),
 ('GGC', 'G', 'Gly'),
 ('TAC', 'Y', 'Tyr'),
 ('CGT', 'R', 'Arg'),
 ('GTA', 'V', 'Val'),
 ('GTC', 'V', 'Val'),
 ('GTG', 'V', 'Val'),
 ('GAG', 'E', 'Glu'),
 ('GTT', 'V', 'Val'),
 ('GAC', 'D', 'Asp'),
 ('AAG', 'K', 'Lys'),
 ('AAA', 'K', 'Lys'),
 ('AAC', 'N', 'Asn'),
 ('ACT', 'T', 'Thr'),
 ('CAT', 'H', 'His'),
 ('AAT', 'N', 'Asn'),
 ('CAC', 'H', 'His'),
 ('CAA', 'Q', 'Gln'),
 ('CAG', 'Q', 'Gln'),
 ('TGT', 'C', 'Cys'),
 ('TCT', 'S', 'Ser'),
 ('GAT', 'D', 'Asp'),
 ('TTT', 'F', 'Phe'),
 ('TGC', 'C', 'Cys'),
 ('TGG', 'W', 'Trp'),
 ('TTC', 'F', 'Phe'),
 ('TCG', 'S', 'Ser'),
 ('TTA', 'L', 'Leu'),
 ('TTG', 'L', 'Leu'),
 ('TCC', 'S', 'Ser'),
 ('GAA', 'E', 'Glu'),
 ('TCA', 'S', 'Ser'),
 ('GCA', 'A', 'Ala'),
 ('GCC', 'A', 'Ala'),
 ('GCG', 'A', 'Ala'),
 ('GCT', 'A', 'Ala'),
 ('ACC', 'T', 'Thr')]

In [54]:
data[1]

('ATG', 'M', 'Met')

In [55]:
data[1][1]

'M'

In [56]:
a=[]#将元素提取出来，分别组成三个列表，用于构建二重列表
b=[]#这里也可以构建字典，我选择的是构建二重列表
c=[]
for i in range(0,len(data)):#使用循环提取每个元素里具体位置的元素
    a.append(data[i][0])
for i in range(0,len(data)):
    b.append(data[i][1])

In [57]:
for i in range(0,len(data)):
    c.append(data[i][2])
    
d=[list(x) for x in zip(b,c)]#使用zip函数打包成二重列表

In [63]:
pd.DataFrame(d,index=a,
               columns=['single','triple'])#最后使用pd里的DATAFRAME方法实现功能

    single triple
CTT      L    Leu
ATG      M    Met
ACA      T    Thr
ACG      T    Thr
ATC      I    Ile
..     ...    ...
GCA      A    Ala
GCC      A    Ala
GCG      A    Ala
GCT      A    Ala
ACC      T    Thr

[61 rows x 2 columns]